@import '@WEDex/components/dist/es/index.css';

body {
  @apply bg-color-body font-primary text-sm text-color2 leading-5 break-words;
}

::-webkit-scrollbar {
  @apply h-1 w-1;

  background: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded h-1 w-1;
}

::-webkit-scrollbar-track {
  background: none;
}

/* home page */
.homePage {
  height: 100vh;
}

.homePage .leftPanelStatic {
  width: 324px;
}

.homePage .rightPanelStatic {
  width: 324px;
}

.homePage .rightPanelStaticClose {
  width: 44px;
}

.homePage .panelExpand {
  width: calc(100vw - 324px);
}

/* custom */

.selectTransparent .n-base-selection-label {
  background-color: transparent;
}

@keyframes number-pulse {
  0% {
    width: 0;
    opacity: 0.7;
  }

  60% {
    width: 100%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

.NumberPulse {
  animation: number-pulse 1s ease-out;
}
