@import '@wedex/components/dist/es/index.css';

body {
  @apply bg-base font-primary text-color2 leading-5 break-words;
}

::-webkit-scrollbar {
  @apply h-1 w-1;

  background: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded h-1 w-1;
}

::-webkit-scrollbar-track {
  background: none;
}

/* home page */
.homePage {
  height: 100vh;
}

.homePage .leftPanelStatic {
  width: 300px;
}

.homePage .rightPanelStatic {
  width: 300px;
}

.homePage .rightPanelStaticClose {
  width: 60px;
}

/* custom */

.selectTransparent .n-base-selection-label {
  background-color: transparent;
}

@keyframes NumberPulse {
  0% {
    width: 0;
    opacity: 0.7;
  }

  60% {
    width: 100%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

.NumberPulse {
  animation: NumberPulse 1s ease-out;
}
