.mainNav {
  overflow-x: auto;
  overflow-y: hidden;
}

.mainNav ul {
  @apply py-3 px-5;
}

.mainNav li {
  @apply rounded-sm cursor-pointer h-7 mr-4 px-2 leading-7 relative inline-block;
}

.mainNav li:hover {
  @apply text-primary;
}

.mainNavItemCur {
  @apply bg-primary-bg text-primary;
}

/* sub nav */
.subNav {
  @apply flex h-10 text-xs px-5 text-color3 items-center;
}

.subNav .__list {
  overflow-x: auto;
  overflow-y: hidden;
}

.subNavItem {
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  @apply cursor-pointer mr-2 px-2 inline-block;
}

.subNavItem:hover {
  @apply text-color1;
}

.subNavItemCur {
  @apply bg-bg2 text-color1;
}
