.wrap {
  line-height: 0;
  white-space: nowrap;
  @apply text-color3;
}

.icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon:not(:first-child) {
  margin-left: -6px;
}

.icon img {
  @apply h-full w-full;
}
